# Ignore all .jsonl files, (size problems)
uk_legislation/train.jsonl
uk_legislation/test.jsonl
uk_legislation/validation.jsonl
uk_courts_cases/train.jsonl
uk_courts_cases/test.jsonl
uk_courts_cases/validation.jsonl
